[submodule "libs/another6502"]
	path = libs/another6502
	url = https://github.com/blueliight/another6502.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/256"]
	path = libs/256
	url = https://github.com/dernyn/256.git
